{% if messages %}
  {% for message in messages %}
    <div class="toast max-w-xs bg-white border border-gray-200 rounded-xl shadow-lg z-51 fixed top-0 right-0 mt-[65px]"
         role="alert" tabindex="-1">
      <div class="flex p-4">
        <div class="shrink-0">
          {% if message.tags == 'success' %}
            <svg class="shrink-0 size-4 text-teal-500 mt-0.5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
            </svg>
          {% elif message.tags == 'error' %}
            <svg class="shrink-0 size-4 text-red-500 mt-0.5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
            </svg>
          {% endif %}
        </div>
        <div class="ms-3">
          <p class="text-sm text-gray-700 dark:text-neutral-400">
            {{ message }}
          </p>
        </div>
      </div>
    </div>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            keyframes: {
              'toast-in': {
                '0%': { opacity: '0', transform: 'translateX(100%)' },
                '100%': { opacity: '1', transform: 'translateX(0)' },
              },
              'toast-out': {
                '0%': { opacity: '1', transform: 'translateX(0)' },
                '100%': { opacity: '0', transform: 'translateX(100%)' },
              },
            },
            animation: {
              'toast-in': 'toast-in 0.4s ease-out forwards',
              'toast-out': 'toast-out 0.4s ease-in forwards',
            },
          }
        }
      }
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll("[role='alert']").forEach((toast) => {
          toast.classList.add("animate-toast-in");

          // Remover após 3 segundos
          setTimeout(() => {
            toast.classList.remove("animate-toast-in");
            toast.classList.add("animate-toast-out");

            // Remover o elemento do DOM após a animação de saída
            toast.addEventListener("animationend", () => toast.remove());
          }, 3000);
        });
      });
    </script>
  {% endfor %}
{% endif %}
