{% extends 'base.html' %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<section id="hero" class="hero">
    <div class="container">
        <div class="info">
            <h1>Dê sua nota aos serviços e contribua para a melhoria contínua</h1>
            <h2>Suas experiências importam</h2>
        </div>
        <form method="post" class="search-bar">
            <input type="text" name="q" placeholder="Pesquisar Serviço ou Categoria">
            <button class="desktop">Pesquisar</button>
            <button class="mobile"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</section>
<section id="topic">
    <h1>testes
        
    </h1>
    <h2>{{ user.first_name }}</h2>
    <h2>{{ user.last_name }}</h2>
    <h2>{{ user.username }}</h2>
</section>
<section id="topic" class="wrap">
    <div class="section-title-wrap">
        <h4 class="section-title">Serviços Verificados</h4>
    </div>
    <div class="card-wrap">
        <div class="card">
            <a href=""><img src="{% static 'img/test.jpeg' %}" alt="" width="257" height="210"></a>
            <div class="card-info">
                <a href="" class="card-title">
                    <h2>Unitel <img src="{% static 'img/verified.png' %}" class="badge" alt="" width="20" height="20"></h2>
                </a>
                <h4 class="card-tag">Comunicação</h4>
                <div class="card-stars">
                    <div class="star-rating">
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                    </div>
                    <span>(123)</span>
                </div>
            </div>
        </div>
        <div class="card">
            <a href=""><img src="{% static 'img/test.jpeg' %}" alt="" width="257" height="210"></a>
            <div class="card-info">
                <a href="" class="card-title">
                    <h2>Unitel <img src="{% static 'img/verified.png' %}" class="badge" alt="" width="20" height="20"></h2>
                </a>
                <h4 class="card-tag">Comunicação</h4>
                <div class="card-stars">
                    <div class="star-rating">
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                    </div>
                    <span>(123)</span>
                </div>
            </div>
        </div>
        <div class="card">
            <a href=""><img src="{% static 'img/test.jpeg' %}" alt="" width="257" height="210"></a>
            <div class="card-info">
                <a href="" class="card-title">
                    <h2>Unitel <img src="{% static 'img/verified.png' %}" class="badge" alt="" width="20" height="20"></h2>
                </a>
                <h4 class="card-tag">Comunicação</h4>
                <div class="card-stars">
                    <div class="star-rating">
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                    </div>
                    <span>(123)</span>
                </div>
            </div>
        </div>
        <div class="card">
            <a href=""><img src="{% static 'img/test.jpeg' %}" alt="" width="257" height="210"></a>
            <div class="card-info">
                <a href="" class="card-title">
                    <h2>Unitel <img src="{% static 'img/verified.png' %}" class="badge" alt="" width="20" height="20"></h2>
                </a>
                <h4 class="card-tag">Comunicação</h4>
                <div class="card-stars">
                    <div class="star-rating">
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                    </div>
                    <span>(123)</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" class="wrap">
    <div class="left">
        <dotlottie-player
            src="https://lottie.host/ae423669-e584-4c83-8307-662b002ef46a/1z6XwNZeec.lottie"
            background="transparent"
            speed="1"
            style="width: 300px; height: 300px"
            loop
            autoplay
        ></dotlottie-player>
    </div>
    <div class="right">
        <h2>SASPP? Quem somos?</h2>
        <p><strong>Nós</strong> somos uma plataforma feita para conectar você aos melhores serviços públicos e privados. Avalie, compare e escolha com confiança, ajudando a criar um ambiente onde a qualidade e a excelência são prioridade. Aqui, cada avaliação conta e contribui para um mundo de serviços mais eficientes e confiáveis.</p>
        <a href="" class="btn">Contacte-Nos</a>
    </div>
</section>
<section id="topic" class="wrap">
    <div class="section-title-wrap">
        <h4 class="section-title">Serviços Mais Bem Avaliados</h4>
    </div>
    <div class="card-wrap">
        <div class="card">
            <a href=""><img src="{% static 'img/test.jpeg' %}" alt="" width="257" height="210"></a>
            <div class="card-info">
                <a href="" class="card-title">
                    <h2>Unitel <img src="{% static 'img/verified.png' %}" class="badge" alt="" width="20" height="20"></h2>
                </a>
                <h4 class="card-tag">Comunicação</h4>
                <div class="card-stars">
                    <div class="star-rating">
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                    </div>
                    <span>(123)</span>
                </div>
            </div>
        </div>
        <div class="card">
            <a href=""><img src="{% static 'img/test.jpeg' %}" alt="" width="257" height="210"></a>
            <div class="card-info">
                <a href="" class="card-title">
                    <h2>Unitel <img src="{% static 'img/verified.png' %}" class="badge" alt="" width="20" height="20"></h2>
                </a>
                <h4 class="card-tag">Comunicação</h4>
                <div class="card-stars">
                    <div class="star-rating">
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                    </div>
                    <span>(123)</span>
                </div>
            </div>
        </div>
        <div class="card">
            <a href=""><img src="{% static 'img/test.jpeg' %}" alt="" width="257" height="210"></a>
            <div class="card-info">
                <a href="" class="card-title">
                    <h2>Unitel <img src="{% static 'img/verified.png' %}" class="badge" alt="" width="20" height="20"></h2>
                </a>
                <h4 class="card-tag">Comunicação</h4>
                <div class="card-stars">
                    <div class="star-rating">
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                    </div>
                    <span>(123)</span>
                </div>
            </div>
        </div>
        <div class="card">
            <a href=""><img src="{% static 'img/test.jpeg' %}" alt="" width="257" height="210"></a>
            <div class="card-info">
                <a href="" class="card-title">
                    <h2>Unitel <img src="{% static 'img/verified.png' %}" class="badge" alt="" width="20" height="20"></h2>
                </a>
                <h4 class="card-tag">Comunicação</h4>
                <div class="card-stars">
                    <div class="star-rating">
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span class="filled"><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                    </div>
                    <span>(123)</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="promo" class="wrap">
    <div class="left">
        <h2>É Empreendedor e quer melhorar os seus Serviços?</h2>
        <p>O <strong>SASPP</strong> fornece dados como a quantidade de avaliações e a 
            média de cada serviço, ajudando gestores e administradores 
            a priorizarem melhorias.</p>
        <a href="{% url 'signup2' %}" class="btn">Criar uma conta Empresa</a>
    </div>
    <div class="right">
        <dotlottie-player
            src="https://lottie.host/63bb1fe9-f040-409e-a07a-826f3c7657bd/BRESZel2tI.lottie"
            background="transparent"
            speed="1"
            style="width: 300px; height: 300px"
            loop
            autoplay
        ></dotlottie-player>
    </div>
</section>
<script
  src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
  type="module"
></script>
{% endblock %}