{% extends 'base.html' %}
{% load static %}
{% block head %}{% endblock%}

{% block title %}Sobre{% endblock %}

{% block content %}

<section id="hero" class="hero">
    <div class="container">
        <div class="info">
            <h1>Dê sua nota aos serviços e contribua para a melhoria contínua</h1>
            <h2>Suas experiências importam</h2>
        </div>
        <form method="post" class="search-bar">
            <input type="text" name="q" placeholder="Pesquisar Serviço ou Categoria">
            <button class="desktop">Pesquisar</button>
            <button class="mobile"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</section>
<section id="topic" class="wrap">
    <h1>testando</h1>
    <div class="card">
        <a href=""><img src="{% static 'img/test.jpeg' %}" alt="" width="257" height="210"></a>
        <div class="card-info">
            <a href="" class="card-title">
                <h2>Alexandrino <img src="{% static 'img/verified.png' %}" class="badge" alt="" width="20" height="20"></h2>
            </a>
            <h4 class="card-tag">Tecnologia</h4>
            <div class="card-stars">
                <div class="star-rating">
                    <span class="filled"><i class="fa-solid fa-star"></i></span>
                    <span class="filled"><i class="fa-solid fa-star"></i></span>
                    <span class="filled"><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                </div>
                <span>(123)</span>
            </div>
        </div>
    </div>
</section>
{% endblock %}
